<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    {% block head %}
        <meta charset="UTF-8">

        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% endblock %}
</head>
<body>
<div style="display: none;">
    <script src="https://s19.cnzz.com/z_stat.php?id=1262729802&web_id=1262729802" language="JavaScript"></script>
</div>
<div class="container">
    {% if message %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <pre>{{ message }}</pre>
            </div>
        </div>
    {% endif %}

    {% with flash_messages = get_flashed_messages() %}
    {% if flash_messages %}
    {% for message1 in flash_messages %}
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <pre>{{ message1 }}</pre>
        </div>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% if current_user.is_authenticated %}
        <div class="row">

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a href="/menu">
                    <button class="btn btn-default">menu</button>
                </a>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a href="/calendar">
                    <button class="btn btn-default">日历</button>
                </a>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a href="/exam-result">
                    <button class="btn btn-default">考试成绩详情</button>
                </a>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a href="/logout">
                    <button class="btn btn-default">logout</button>
                </a>
            </div>
        </div>
    {% endif %}

    <div id="content">{% block content %}{% endblock %}</div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="mailto://trim21me@hotmail.com">Contact me trim21me@hotmail.com</a></div>
    </div>
</div>
</body>
</html>