[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "pol"
version = "0.1.0"
description = ""
authors = ["Trim21 <i@trim21.me>"]

[tool.poetry.dependencies]
python = "3.7.*"

aioredis = "1.3.1"
async-bgm-api = "0.0.4"
celery = "4.4.0"
cython = "0.29.14"
email-validator = "1.0.5"
fastapi = "0.46.0"
gunicorn = "20.0.4"
icalendar = "4.0.4"
jinja2 = "2.10.3"
loguru = "0.4.0"
lxml = "4.4.2"
mistune = "0.8.4"
msgpack = "0.6.2"
python-dateutil = "2.8.1"
python-multipart = "0.0.5"
pytz = "2019.3"
sentry-sdk = "0.14.0"
uvicorn = "0.11.1"
beautifulsoup4 = "4.8.2"
requests = "2.22.0"
redis = "3.3.11"
aiohttp = {version = "3.6.2", extras = ["speedups"]}
databases = {version = "0.2.6", extras = ["mysql"]}
alembic = '1.3.2'

[tool.poetry.dev-dependencies]
# tests
pytest = "5.3.2"
pytest-asyncio = "0.10.0"
pytest-faker = "2.0.0"
asynctest = "0.13.0"
pytest-rerunfailures = "7.0"
mock = "3.0.5"
coverage = "5.0.1"
# linter and formatter
pre-commit = "1.21.0"
yapf = "0.29.0"
autoflake = "1.3.1"
isort = "4.3.21"
pyupgrade = "1.25.2"
flake8 = '3.7.9'
flake8-comprehensions = "3.1.4"
flake8-bugbear = "20.1.0"
flake8-commas = "2.0.0"
flake8-mutable = "1.2.0"
# build docs
sphinx = "2.3.1"
sphinxcontrib-openapi = { version = "0.6.0", extras = ["markdown"] }
sphinx-issues = "1.2.0"
sphinx-rtd-theme = "0.4.3"
mypy = "0.750"
aioresponses = "0.6.1"

[tool.isort]
length_sort = true
multi_line_output = 5
line_length = 88
indent = '    '
default_section = 'FIRSTPARTY'
known_first_party=['app', 'bgm_tv_spider', 'data_manager', 'data_cleaner']
