[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "pol"
version = "0.1.0"
description = ""
authors = ["Trim21 <i@trim21.me>"]

[tool.poetry.dependencies]
python = "^3.7"

aiomysql = "0.0.20"
aioredis = "1.3.0"
apscheduler = "3.6.3"
brotlipy = "0.7.0"
celery = "4.3.0"
cython = "0.29.14"
email-validator = "1.0.5"
fastapi = "0.42.0"
gunicorn = "20.0.0"
httpx = "0.7.8"
icalendar = "4.0.3"
jinja2 = "2.10.3"
loguru = "0.3.2"
lxml = "4.4.1"
mistune = "0.8.4"
msgpack = "0.6.2"
peewee = "3.11.2"
peewee-async = "0.6.3a0"
python-dateutil = "2.8.1"
python-multipart = "0.0.5"
pytz = "2019.3"
scrapy = "1.8.0"
scrapy-redis = "0.6.8"
sentry-sdk = "0.13.2"
tqdm = "4.38.0"
uvicorn = "0.10.8"
beautifulsoup4 = "4.8.1"
requests = "2.22.0"

[tool.poetry.dev-dependencies]
# tests
pytest = "5.2.2"
pytest-mock = "1.11.2"
pytest-asyncio = "0.10.0"
pytest-faker = "2.0.0"
asynctest = "0.13.0"
pytest-jest = "0.3.0"
pytest-rerunfailures = "7.0"
mock = "3.0.5"
# linter and formatter
pre-commit = "1.20.0"
yapf = "0.28.0"
autoflake = "1.3.1"
isort = "4.3.21"
pyupgrade = "1.25.1"
flake8-comprehensions = "3.0.1"
flake8-bugbear = "19.8.0"
flake8-commas = "2.0.0"
flake8-mutable = "1.2.0"
livereload = "2.6.1"
doc8 = "0.8.0"
coverage = "4.5.4"
# build docs
sphinx = "2.2.1"
sphinxcontrib-httpdomain = "1.7.0"
sphinxcontrib-httpexample = "0.10.3"
sphinxcontrib-openapi = {version = "0.5.0", extras = ["markdown"]}
sphinx-issues = "1.2.0"
sphinx-rtd-theme = "0.4.3"
m2r = "0.2.1"

[tool.poetry.extras]
