[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "pol"
version = "0.1.0"
description = ""
authors = ["Trim21 <i@trim21.me>"]

[tool.poetry.dependencies]
python = "3.7.*"

aioredis = "1.3.1"
celery = "4.4.2"
email-validator = "1.1.0"
fastapi = "0.54.1"
gunicorn = "20.0.4"
loguru = "0.4.1"
lxml = "4.5.0"
msgpack = "1.0.0"
pydantic = "1.3"
python-dateutil = "2.8.1"
python-multipart = "0.0.5"
pytz = "2019.3"
sentry-sdk = "0.14.3"
uvicorn = "0.11.5"
beautifulsoup4 = "4.9.0"
requests = "2.23.0"
redis = "3.3.11"
aiohttp = {version = "3.6.2", extras = ["speedups"]}
databases = {version = "0.3.2", extras = ["mysql"]}
alembic = "1.4.2"
aiomysql = '0.0.20'

[tool.poetry.dev-dependencies]
# tests
pytest = "5.4.1"
pytest-asyncio = "0.11.0"
asynctest = "0.13.0"
pytest-rerunfailures = "7.0"
pytest-cov = "2.8.1"
aioresponses = "0.6.3"
# linter and formatter
pre-commit = "2.3.0"
flake8 = '3.7.9'
flake8-comprehensions = "3.2.2"
flake8-bugbear = "20.1.4"
flake8-commas = "2.0.0"
flake8-mutable = "1.2.0"
flake8-broken-line = "0.2.0"
# build docs
mypy = "==0.750"
black = "==19.10b0"
