{% extends 'components/base.html' %}
{% block content %}
{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            <a href="/calendar">#}
{#                <button class="btn btn-default">#}
{#                    日历#}
{#                </button>#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#            <a href="/exam-result">#}
{#                <button class="btn btn-default">考试详情</button>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{% endblock %}